<div  class="overflow-x-hidden  overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-4/6 my-6 mx-auto max-w-6xl">
      <!--content-->
      <div class="border-0 px-6  pt-6 pb-6 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none scroll-m-1">
        <div class="flex  justify-between align-middle" >
          <h3 class="text-2xl font-bold tracking-tight text-gray-900">Vehiculo</h3>
          <button (click)="clickCloseModal()" type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
            <span class="sr-only">Close menu</span>
            <!-- Heroicon name: outline/x -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <form class="space-y-6" [formGroup]="carRegisterForm">
            <div>
              <label for="name" class="block text-sm font-medium leading-6 text-secondary">Nombre del propietario</label>
              <div class="mt-2">
                <input formControlName="name"  id="name" name="name" type="text" autocomplete="name" required class="block w-full rounded-md border-0 px-1.5 py-1.5 text-secondary shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
              @if ( carRegisterForm.get('name')?.hasError('required') &&     this.carRegisterForm.get('name')?.touched) {
                <div class="text-sm font-medium text-likes pt-1" >
                    Escriba un correo válido.
                </div>
              }
            </div>
    
      
            <div>
              <div class="flex items-center justify-between">
                <label for="description" class="block text-sm font-medium leading-6 text-secondary">description</label>
              </div>
              <div class="mt-2">
                <input formControlName="description"  id="description" name="description" type="text" required class="block w-full rounded-md border-0 px-1.5 py-1.5 text-secondary shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
              @if ((carRegisterForm.get('description')?.hasError('pattern') || carRegisterForm.get('description')?.hasError('required')) &&   this.carRegisterForm.get('description')?.touched) {
                <div class="text-sm font-medium text-likes pt-1">
                    La contraseña debe tener la
                </div>
              }
            </div>

            <div>
                <div class="flex items-center justify-between">
                  <label for="brand" class="block text-sm font-medium leading-6 text-secondary">Marca del Vehiculo</label>
                </div>
                <div class="mt-2">
                    <angular2-multiselect 
                    [settings]="dropdownBrandSettings"
                    (onAddFilterNewItem)="saveNewBrand($event)" 
                    formControlName="brand"  [data]="brandList" 
                    (onSelect)="onItemSelect($event)" 
                    ></angular2-multiselect>
                  
               
                </div>
                @if ((carRegisterForm.get('brand')?.hasError('pattern') || carRegisterForm.get('brand')?.hasError('required')) &&   this.carRegisterForm.get('brand')?.touched) {
                  <div class="text-sm font-medium text-likes pt-1">
                      La marca  debe ser valida
                  </div>
                }
              </div>

              <div>
                <div class="flex items-center justify-between">
                  <label for="staffInCharge" class="block text-sm font-medium leading-6 text-secondary">Personal Encargado</label>
                </div>
                <div class="mt-2" >
                  @if (staffInChargeList.length > 0) {
                    <angular2-multiselect 
                    [settings]="dropdownStaffInChargeSettings"  formControlName="staffInCharge" [data]="staffInChargeList" 
                    (onSelect)="onItemSelect($event)" 
                    ></angular2-multiselect>
                  }
               
                </div>
                @if ((carRegisterForm.get('staffInCharge')?.hasError('pattern') || carRegisterForm.get('staffInCharge')?.hasError('required')) &&   this.carRegisterForm.get('staffInCharge')?.touched) {
                  <div class="text-sm font-medium text-likes pt-1">
                      La persona encargada debe ser valida
                  </div>
                }
              </div>
              <div>
                <h4 class="text-xl font-bold tracking-tight text-gray-900">Acciones</h4>

             

              @for (rowControl of rowsControls; let rowIndex = $index; track rowIndex) {
                <div class="row mt-2 align-items-end" [formGroup]="getFormGroupAtIndex(rowIndex)">
                  <div>
                    <label for="name" class="block text-sm font-medium leading-6 text-secondary">Nombre de la accion</label>
                    <div class="mt-2">
                      <input formControlName="name"  id="name" name="name" type="text" autocomplete="name" required class="block w-full rounded-md border-0 px-1.5 py-1.5 text-secondary shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                    @if ( getFormGroupAtIndex(rowIndex).get('name')?.hasError('required') &&    getFormGroupAtIndex(rowIndex).get('name')?.touched) {
                      <div class="text-sm font-medium text-likes pt-1" >
                          Escriba una accion válido.
                      </div>
                    }
                  </div>

                    <div>
                      <label for="name" class="block text-sm font-medium leading-6 text-secondary">Descripcion de la Accion</label>
                      <div class="mt-2">
                        <input formControlName="description"  id="description" name="description" type="text" autocomplete="description" required class="block w-full rounded-md border-0 px-1.5 py-1.5 text-secondary shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                      </div>
                      @if ( getFormGroupAtIndex(rowIndex).get('description')?.hasError('required') &&    getFormGroupAtIndex(rowIndex).get('description')?.touched) {
                        <div class="text-sm font-medium text-likes pt-1" >
                            Escriba una Descripcion válido.
                        </div>
                      }
                    </div>
            
                    <div>
                      <label for="name" class="block text-sm font-medium leading-6 text-secondary">Afectaciones</label>
                      <div class="mt-2">
                        <angular2-multiselect 
                        formControlName="affectation"
                        class="drop-affectation"
                        autoPosition="false"
                        [settings]="dropdownAffectationSettings"  [data]="affectationsList" 
                        (onSelect)="addAffectations($event,rowIndex)" 
                        (onDeSelect)="OnItemDeSelect($event,rowIndex)"     
                        (onDeSelectAll)="OnItemDeSelect($event,rowIndex)"     
                        ></angular2-multiselect>
                        </div>
                      @if ( getFormGroupAtIndex(rowIndex).get('affectation')?.hasError('required') &&    getFormGroupAtIndex(rowIndex).get('affectation')?.touched) {
                        <div class="text-sm font-medium text-likes pt-1" >
                            Escriba una accion válido.
                        </div>
                      }

                      @if (getContnrol(rowIndex).length > 0) {
                        @for (item of getContnrol(rowIndex); let rowIndex2 = $index; track rowIndex2) {
                          <div  [formGroup]="getFormGroupAtIndex2(rowIndex,rowIndex2)">
                            <div class="flex mt-2 justify-between align-middle">
                              <label for="">{{item.get('itemName')?.value}}</label>
                              <label for="">{{item.get('description')?.value}}</label>
                              <input type="text"  required 
                              formControlName="percentage"
                              class="block rounded-md border-0 px-1.5 py-1.5 text-secondary shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                          </div>
                          @if (getFormGroupAtIndex2(rowIndex,rowIndex2).get('percentage')?.hasError('pattern') &&    getFormGroupAtIndex2(rowIndex,rowIndex2).get('percentage')?.touched) {
                            <div class="text-sm font-medium text-likes pt-1" >
                                El porcentaje tiene que ser entre 1 y 100
                            </div>
                          }
                         }
                      }


                     <button  type="submit" (click)="deleteAction(rowIndex)" class="flex mt-4 justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Remover Accion</button>
  
                    
                    </div>
                </div>
              }


              <button  type="submit" (click)="addAction()" class="flex mt-4 justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Añadir Accion</button>
  
              </div>
              
            <div >
              <button  type="submit" (click)="saveData()" class="flex w-full justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Ingresar</button>
            </div>
          </form>
      </div>
    </div>
  </div>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>